{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="PDF2DOCX, online,pdf to docx,PDF,Docx,converter">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="PDF to Docx is a free service that lets you convert PDF to DOCX, - Use PDF To DOCX to convert it for free and online. Fast PDF To DOCX conversion.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to DOCX – Convert PDF to DOCX Online </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/file.svg' %}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154740970-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154740970-5');
    </script>
    <!-- Clarity -->
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "8lceel53lv");
    </script>
</head>

<body>
    <!-- navbar section  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/file.svg' %}" alt="" width="50" height="28"
                    class="d-inline-block align-text-top">
                <span> PDF To DOCX </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}"> <span> Home </span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#HowToUse"><span> How to use? </span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Features"><span> Features
                            </span> </a>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="btn btn-warning me-2" href="https://www.buymeacoffee.com/pdftodocx" target="_blank">Buy Me
                        a Coffee</a>
                </form>
            </div>
        </div>
    </nav>

    <!-- alert message -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <div>
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{message}}
            </div>
        </div>
    </div>
    {%endif%}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            {{message}}
        </div>
    </div>
    {%endif%}
    {%endfor%}
    {%endif%}
    <!--  How to use? -->
    <section>
        <i class="far fa-file-pdf"></i>
        <h1 class="h1-01 m-4">How To Change From PDF To Docx</h1>
        <div>
            <p class="text-2"> You can drag and drop your PDF into the toolbox above to quickly transform
                it into a Docx
                document. Various settings are available for you to adjust the format of the output file.
            </p>
        </div>
    </section>


    <!-- Select file to upload  -->

    <form id="Post-Form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container container-file">
            <p class="text-1">Convert PDF To Docx</p>
            <p class="text-2">The best web application to change PDF over to Docx</p>
            <div class="input-group mb-3">
                {{ form }}
                <input class="btn btn-dark"  value="Convert PDF" type="submit" id="button-addon1">
            </div>

    </form>

    <style>
        .container-file {
            margin-top: 50px;
        }

        .text-1 {
            font-family: 'Kiwi Maru', serif;
            font-family: 'Roboto', sans-serif;
            font-size: 26px;
            text-align: center;
            position: relative;
            left: 0px;
            margin: 20px 5px;
        }

        .text-2 {
            font-family: 'Kiwi Maru', serif;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font: bold;
            text-align: center;
            position: relative;
            left: 0px;
            margin: 20px 5px;
        }
    </style>
    <!-- div of features -->


    <div class="container py-5" id="Features">
        <h2 class="pb-2 border-bottom">Features</h2>
        <div class="row g-5 py-5">
            <div class="feature col-md-4">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                        class="bi bi-file-earmark-font-fill" viewBox="0 0 16 16">
                        <path
                            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.057 6h5.886L11 8h-.5c-.18-1.096-.356-1.192-1.694-1.235l-.298-.01v5.09c0 .47.1.582.903.655v.5H6.59v-.5c.799-.073.898-.184.898-.654V6.755l-.293.01C5.856 6.808 5.68 6.905 5.5 8H5l.057-2z" />
                    </svg>
                </div>
                <h2>Fast Convert!</h2>
                <p>With just a simple drag-and-drop, you can convert PDF to Docx within seconds. There’s an up to
                    10MB
                    file size limit and not even the need to register to use our service.</p>
            </div>
            <div class="feature col-md-4">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                        class="bi bi-file-earmark-lock-fill" viewBox="0 0 16 16">
                        <path
                            d="M7 7a1 1 0 0 1 2 0v1H7V7zM6 9.3c0-.042.02-.107.105-.175A.637.637 0 0 1 6.5 9h3a.64.64 0 0 1 .395.125c.085.068.105.133.105.175v2.4c0 .042-.02.107-.105.175A.637.637 0 0 1 9.5 12h-3a.637.637 0 0 1-.395-.125C6.02 11.807 6 11.742 6 11.7V9.3z" />
                        <path
                            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM10 7v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V9.3c0-.627.46-1.058 1-1.224V7a2 2 0 1 1 4 0z" />
                    </svg>
                </div>
                <h2>Safe Convert!</h2>
                <p>We care about privacy. All files will be deleted from our servers forever after one hour. To know
                    more about how much we care, read our privacy policy <a href="#" style="text-decoration: none">For
                        more.</a>
                </p>
            </div>
            <div class="feature col-md-4">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd"
                        class="bi bi-speedometer2" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                        <path fill-rule="evenodd"
                            d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
                    </svg>
                </div>
                <h2>Quick & Easy!</h2>
                <p>PDF to Docx conversion is hard. To bring you the very best quality for free convert online your
                    PDF
                    files, And we help you achieve your goals.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div>
            Copyright © pdftodocx.online 2022 All Rights Reserved
        </div>
    </footer>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap2.js' %}"></script>

</body>

</html>