@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap');

input[type="file"]
{
  position: absolute;
  top: -9999px;
  left:-9999px;
}

label:not(.chosen):hover
{
    background: rgb(25, 157, 244);
    box-shadow: 0 0 10px 0 rgb(25, 157, 244);
}

label i
{
  margin-right: 8px;
}
label.chosen {
  background: #5cb85c;
}

span{
    color: white;
    font-family: 'Mukta', sans-serif;
}

html{
    scroll-behavior: smooth;
}


.h1-01{
    color: #000;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    position:relative;
    left: 0px;
    top: 50px;
    margin: 0 5px;
}

.form-h1-02{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

}


p{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font:bold;
    text-align: center;
    position:relative;
    left: 0px;
    top: 10px;
    margin: 0 5px;
}
.text-1{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font:bold;
    text-align: center;
    position:relative;
    left: 0px;
    top: 50px;
    margin:20px 5px;
}

.text-2{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font:bold;
    text-align: center;
    position:relative;
    left: 0px;
    top: 50px;
    margin:20px 5px;
}

.container-file{
    background:#fff;
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 2px;
    position: relative;
    top: 100px;
    overflow: hidden;
    align-items: center;
    height: 350px;
    width: 80%;
}


.convert-button
{   
  position: relative;
  align-items: center;
  overflow: hidden;
  bottom: 0px;
  height: 60px;
  border-radius: 30px;
  padding: 0 25px;
  
}

.form-control{
    max-width: 50%;
    position: relative;
    left: 0px;
    top: 60px;
    margin: 0 50px;
}

.container{
    position: relative;
    top: 160px;
}

.align-items-center{
   text-align: center;
   margin-top: 0px;
}

.container-log-in{
    height: 300px;  

}

.row{
    height: 100px;
}
.form-label-1{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font: bold;
}

.control-input{
    margin: 8px 0;
    padding: 8px;
    box-shadow: border-box;
    box-sizing: border-box;    
    border: 1px solid #aaa;
    outline: none;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    transform: 2s;
}

.control-input:focus{
    border-color: dodgerblue;
    box-shadow: dodgerblue;
}

.leftside, .rightside{
    height: 100vh;
    width: 100%;
}

.leftside{
    margin-top: 20px;
    align-items: center;
    height: 500px;
}



.rightside{
    position: relative;
    bottom:50px;
    margin-top: 20px;
    align-items: center;
    height: 500px;
}

